/* tekst og overskrift */
h1{
  font-size: 150px;
}

h3{
  font-family: 'Typewriter';
  font-size: 50px;
}

#kant{
    margin: 3%;
}

/* GRID layout */
.grid_1_8_1 {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

/* billede style */
.foto {
  position: relative;
  width: 657px;
  height: 441px;
}

#toOl {
  position: relative;
  width: 407px;
  height: 432px;
}

/* Knap */
.btn {
  background-color: #374824;
  width: 1359px;
  height: 75px;
  color: #ffeece;
  font-family: "Typewriter";
  font-size: 30px;
  position: absolute;
  justify-content: center;
}
