/* Fontface */

/* Fontface */

/* Tekst styling */

/* Tekst styling */

/* Links */
.menu a:link {
    color: #374824;
  }
  
.menu a:visited {
    color: #374824;
  }

.menu a:hover {
    color: #BB3A30;
  }
  
.menu a:active {
    color: #BB3A30;
  }
/* Links */

/* Footer */
footer {
    background-color: #DFCBA6 ;
    color: #374824;
    text-align: center;
}
/* Footer */

/* Header*/
header nav {
    background-color: #DFCBA6 ;
    color: #374824;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    padding-top: 20px;}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin-right: 5cqw;
    margin-left: 5cqw;
}

.menu a {
    text-decoration: none;
    color: #374824;
}

/* Header*/

/* Burger menu */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    input[type="checkbox"] {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #DFCBA6;
        z-index: 1;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked+.menu-icon+.menu {
        display: flex;
    }
}
/* Burger menu */