
@media screen and (min-width:480px) {

  #grid1_8_1{
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
    }
  
  #kontakt{
    grid-column: 2;
  }

  #kontaktimg{
    width: 501px;
    height: 461px;
    align-self: stretch;
    object-fit: cover;
  }  
  
  }


body{
    background-image: url(/imgs/BG/paper.svg);
}

#kontaktboks p {
  font-family: "Typewriter";
  font-size: 2cqw;
  margin-top: 15%;
}

#formboks{
  font-family: "Typewriter";
  font-size: 2cqw;
  margin-top: 5%;
}

#grøncirkel{
  position: absolute;
  top: 34%;
  left: -200px;
  object-fit: cover;
}

#rødcirkel{
  position: absolute;
  top: 8%; 
  left: 65%;
  object-fit: cover;
}

#rødcirkelbund{
  position: absolute;
  top: 140%; 
  left: 80%;
  height: auto;
  object-fit: cover;
}

#fugl{
  position: absolute;
  top: -8%; 
  left: 70%;
  width: 24%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
}

#underoverskift{
  margin-left: 10%;
}


#kontaktboks{
  background-color: #75341F80;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10%;
}

#kontaktboks p{
  color: #FFEFCF;
  opacity: 1
}

p{
  color: #384825;
}

#formboks{
  background-color: #A48A63;
  padding: 5%;;
}



/*Forms */

#navnogemail{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
}

label,
input,
textarea,
select,
button {
  display: block;
  font-family: "Typewriter";
} */

/*Forms */