body{
     background-color: #DFCBA6;
}


main{
    margin-left: 10%;
    margin-right: 15%;
}

#beer_drawing{
    position: absolute;

}

.menu-grid1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}
.menu-grid1-1 h1{
    grid-column: -1/-3;
}

#flexbox2{
    grid-column: -2/-3;
    grid-row: 2;
}
.flex_beer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#prices{
text-align: right;}
